html{font-size:16px}
.avatar{width:150px;height:150px}
.home-section{padding:15px}
h3.article-title{
 color:#18a558;
 text-decoration:none;
 transition:color .6s ease
}
a{
 color:#18a558;
 text-decoration:none;
 text-decoration-color:#18a558;
 transition:color .6s ease
	    
}
a:hover{
 color:#28a745;
 text-decoration:none;
  text-decoration-color:#18a558;
 transition:color .6s ease
}
